<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.activehabits.android"
      android:versionCode="4"
      android:versionName="1.0 beta 201101">
<!--    <uses-sdk android:minSdkVersion="3"
      android:targetSdkVersion="3" /> -->
    <application android:icon="@drawable/logo4e" android:label="@string/app_name">
        <activity android:name=".mark"
                  android:label="@string/app_name"
                  android:launchMode="singleInstance"
                  android:finishOnTaskLaunch="true"
                  android:configChanges="keyboardHidden|orientation">
             <!-- android:clearTaskOnLaunch="true" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chart" android:label="@string/chart"/>
        <activity android:name="org.achartengine.GraphicalActivity" android:label="Chart Actions"/>
        <activity android:name=".prefs" android:label="@string/prefs" />
        <activity android:name=".splash" android:label="@string/splash" />
        <activity android:name=".help" android:label="@string/help" />
        <activity android:name=".about" android:label="@string/splash" />

    </application>


<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
</manifest>
